.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-heading{
position: relative;

  width: 100%;
  color: #f1f1f1;
  margin: auto;
 

}
.color-white{
  color: white;
}
.image {

background-image:
linear-gradient(to bottom, rgba(79, 79, 79, 0.52), rgba(34, 33, 33, 0.73)),
url(
"https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2022/04/12/1329/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.jpg/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.16x9.jpg"); 

background-size: "fit";
  height: 100vh;
  
  font-size:20px;
  background-repeat:no-repeat; 
  background-color: grey;
}

.Color{
  color: yellow;
}

.mt-4{
  color: white;
}
.text{
  color:black;
}
.search{
  color: black;
}

.btnlink{
  font-size: 0.9rem;
  font-weight: 400 !important;

  margin: 0px auto !important;
 
  width: fit-content;
  color:rgb(13, 118, 205);
}

h1{
  text-align: center;
  margin-top: 100px;
  color : rgb(224, 224, 229);
}
.boxed {
  /* border: 9px solid green ; */
  height: auto;
  width:400px;
  padding:5px;
  display: flex;
  flex-direction: column;
border-radius: 10px;
position: relative;
margin: 10px auto;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 10px;
background-color: white; 
}

.boxed h2{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0a719a;
  margin-bottom: 0.7rem;
}
form{
  width: 100%;
  display :flex;
  flex-direction: column;

}
form .input-group{
  width :100%;
  display: flex;
justify-content: flex-end ;
margin: 5px 0px;
}
form .input-group label{
  width :100%;
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  color:rgb(109, 109, 109);
  margin-bottom: 0.3rem !important;
}

form .input-group input{
  width :100%;
  height:auto;
  padding: 8px !important;
  font-size: 0.9rem;
  border-radius: 5px;
  outline-color: #0996CE;
  outline-width: 1px;
  border: none;
  background-color: #f1f1f1;
  margin-top: 0px !important;
  margin-bottom: 0.3rem !important;
}
form div .react-datepicker__input-container .DatePicker{
width :100%
}
.react-datepicker__input-container {

  display: flex !important;
  justify-content: flex-end;
  width: 70%;
}
.submit-button{
width: 100px;
padding: 10px;
margin: 20px auto;
background-color: #0996CE;
border: none;
color :white;
border-radius: 10px;
transition:all 0.5s ease;
align-content: center;

}
.submit-button:hover{
  filter:brightness(1.2);
  width : 110px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  /* background: url(./cardimage.jpg) no-repeat center; */
  /* background-size: cover; */
  width :100vw;
  height :100vh;
  overflow-x :hidden;
  overflow-y: auto;
  
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.gallery-images{
  width: 100%;
 
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-images .gallery-images-segment{
  width: calc(100% / 3);
  height: 200px;
  margin: 0px 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-images-segment:nth-child(1){
  background-image: url(./images/hotel1.jpg);
}
.gallery-images-segment:nth-child(2){
  background-image: url(./images/hotel2.jpg);
}
.gallery-images-segment:nth-child(3){
  background-image: url(./images/hotel3.jpg);

}
.hometext{
  color:rgb(218, 218, 218);
  background-color: #a3a3a342;
  padding:10px;
  margin-top: 20px;
  border-radius: 10px;
  
}
.login{
  width:300px;
  height:auto;
  padding:10px;
  overflow: hidden;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-50%,-50%);
  margin-top: 1.3rem;
}
.login .user-form{
 width: 100% !important;
  display:flex;
  flex-direction: column;
  padding: 5px;
}
.user-form h2{
  color:grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
}
.user-form input{
  padding: 5px !important;
  width: 95% !important;
  margin-top: 0px !important;
  margin-bottom: 15px !important;
  box-sizing: unset !important;
  background-color: #ebebeb;
  font-size: 0.9rem !important;
  border: 1px solid rgb(185, 185, 185) !important;
  outline-color: #0996CE;
  outline-width: 1px !important;
}

.star-important{
  color: red;
  margin-left: 0.2rem;
}
.user-form div{
  display: flex;
}
.user-form div label{
  font-size: 0.9rem;
  color: rgb(121, 121, 121);
  font-weight: 700;
}
/* .Userform { */
  /* border: 9px solid green ; */
  /* height:fit-content;
  width:200px;
  padding:1px;
  display:grid;
  flex-direction: column;
justify-content:end;
position: absolute;
left: 50%;
top: 50%; */
/* transform: translate(-50%, -50%); */
/* border: 2px solid #a5a5a4; */
/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
/* background-color: #d4d4d4; */
/* } */

.login-button{
  border: none;
  padding:5px;
  width:50%;
  background-color: #0996CE;
  color: white;
  border-radius: 10px;
  margin: 10px auto;
  transition: all 0.5s;
}
.login-button:hover{
  filter: brightness(1.2);
  width: 60%;
}


.flex-row{
  display: flex;
}
.margin-left5{
  margin: 5px !important;
}
.wid100{
  width: 100% !important;
}
.wid50{
  width: 50% !important;
}
.wid700{
  width: 700px !important;
}