/* body{
    background-image:url("./IMAGE.jpeg");
    height:auto;
    width:auto;
} */
input[type=text], select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing:initial;
    margin-top: 6px;
    margin-bottom:10px;
}